<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    {% load static %}
    <link href="{% static 'style.css' %}" rel="stylesheet">

 <style>
        .menu-img {
            width: 120px;
            height: 100px;
            object-fit: cover;
        }
    </style>

</head>
<body>
    <h3>Welcome {{ username }}!, here are your cart items:</h3>
    <!-- show current menu -->
    <table border="1">
        <thead>
            <tr>
                <th>Item Image</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {%  for item in itemList %}
                <tr>
                    <td>
                        <img src="{{ item.picture }}" class="menu-img">
                    </td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.price }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <h2>Total price : {{total_price}}</h2>

        <form action="{% url 'checkout' username %}">
            <input type="submit" value="CHECK OUT" />
        </form>
    </table>
</body>
</html>