<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mealmate</title>
    {% load static %}
    <link href="{% static 'style.css' %}" rel="stylesheet">
</head>
<body>
    <h1>Mealmate &#127829; - Where you find the true taste &#9749; !</h1>
    <br>
    <a href="{% url 'open_signup' %}">Sign Up</a>
    <br>
    <br>
    <a href="{% url 'open_signin' %}">Sign In</a>

    <div class="hero-card">
    <div class="icon-header">🍕</div>
    <h1>Mealmate</h1>
    <p>Where you find the true taste ☕</p>
    
    <div class="button-container">
        <a href="{% url 'open_signup' %}" class="btn-primary"> Create Account </a>

        <a href="{% url 'open_signin' %}" class="btn-secondary"> Sign In </a>
    </div>
</div>



</body>
</html> 