<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mealmate - Sign Up</title>

    {% load static %}
    <link href="{% static 'style.css' %}" rel="stylesheet">
    
</head>
<body> 
    <h3>SIGN UP below:</h3>

    <form action="{% url 'signup' %}" method="POST">
        {% csrf_token %}
        <label>Username</label>
        <input type="text" name="username">
        <br><br>
        <label>Password</label>
        <input type="password" name="password">
        <br><br>
        <label>Email</label>
        <input type="email" name="email">
        <br><br>
        <label>Mobile</label>
        <input type="text" name="mobile">
        <br><br>
        <label>Address</label>
        <textarea name="address"></textarea>
        <br><br>
        <button type="submit">Sign Up</button>
    </form>
</body>
</html>